*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.cu {

    /* display: none; */
    width: 600px;
    height: 100px;
    background-color: aqua;
    margin: 20px auto;
   
}
.cu .mainn{
    display: flex;
     flex-direction: row;
  
}
.cu .input-group input{
     display: flex;
     flex-direction: column;
     justify-content: center;
       width: 290px;
}
.cu table{
    width: 100%;
    text-align: center;
     border: solid 2px black;
   border-collapse: collapse;
}

.cu table th, td{
   border: solid 2px black;
}
 table td button{
width: 100%;
outline: none;

}
 


.delete-btn:hover {
    background-color: rgba(243, 5, 5, 0.884); /* اللون عند المرور عليه */
    color: white; /* نص أبيض عند الهوفر */
}
.ubdate-btn:hover {
    background-color:green; /* اللون عند المرور عليه */
    color: white; /* نص أبيض عند الهوفر */
}
    

