*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.cu {
    width: 95%;
    height: 100vh;
    margin: 70px auto 0 auto ;
   
}
.cu .mainn{
    border: solid 1px black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 background: linear-gradient(9deg, #a128c9cf, #098dff, #af47d9cf, #377abbcf);
}

.cu .input{
      display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cu .input-group input{
     display: flex;
     flex-direction: column;
     justify-content: center;
       width: 290px;
       height: 30px;
       border-radius: 20px;

}
.cu table{
    background: linear-gradient(9deg, #a128c9cf, #098dff, #af47d9cf, #377abbcf);
    width: 100%;
    text-align: center;
     border: solid 2px black;
   border-collapse: collapse;
}

.cu table th, td{
   border: solid 2px black;
}
 table td button{
width: 100%;
outline: none;
border: none;
background: inherit;

}
 


.delete-btn:hover {
    background-color: rgba(243, 5, 5, 0.884); /* اللون عند المرور عليه */
    color: white; /* نص أبيض عند الهوفر */
}
.ubdate-btn:hover {
    background-color:green; /* اللون عند المرور عليه */
    color: white; /* نص أبيض عند الهوفر */
}
    
.cu  #save{
    margin: 10px;
    align-self: center;
    width: 150px;
    height: 45px;
    background: rgba(74, 233, 245, 0.692);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: bold;
}
.cu  #save:hover{
    margin: 10px;
    align-self: center;
    width: 150px;
    height: 45px;
    background: rgb(0, 247, 255);
  background: linear-gradient(135deg,rgb(211, 74, 245),rgb(0, 247, 255));
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: bold;
}

