body {
  text-align: center;
  margin: 0;
  font-family: Arial;
  direction: rtl;
  background: #eef2f7;
}

.main{
  /* display: none; */
  width: 100%;
}

.containerr {
  display: flex;
}

.sidebar {
  width: 200px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}
th{
  text-align: center;
  height: 30px;
  background: rgb(229, 255, 0);
   border: 2px solid black;
}
td {
    text-align: center;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
td button{
 width: 100%;
    height: 37px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
 .inputs{
   width: 100%;
  height: 100px;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: start;
}
.inputs input{
  text-align: center;
  height:  30px;
  margin: 0 0 10px 0;
  width: 45%;
  font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    color: #000;
    
}

tfoot{
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;


}
tfoot td {
    
    font-weight: bold;    
    line-height:1.2;  
    font-size: 18px;      
   
}

  #typeinfo1{
    text-align: center;
     border-bottom:none ;
     padding: 4px 0 0 0;
}
#typeinfo2{
      text-align: center;
 border-top:none ;
  padding: 0 0 4px 0;
    
}
