  /* From Uiverse.io by shadyeljokers */

  .user{
    
     position: relative;
      background: #1f293a;
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100vh;
      align-content: center;
      align-items: center;
  }
   .user::after{
      content: "hello mustafa";
      position: absolute;
    color: rgb(115, 255, 0);
      top: 20%;
      left: auto;
  }


  .user .container {
      
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }

  .user .container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #2c4766;
    border-radius: 80px;
    transform-origin: 200px;
    transform: rotate(calc(var(--i) * (360deg / 50)));
    animation: blink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
  }

  @keyframes blink {
    
    0% {
      background: #0ef;
    }
    25% {
      background: #2c4766;
    }
  }

  .user .login-box {
    position: absolute;
    width: 80%;
    max-width: 220px;
    z-index: 1;
    padding: 20px;
    border-radius: 20px;
  }

  .user form {
    width: 100%;
    padding: 0 10px;
    margin:  0 -24px 0 0;
  }

  .user h2 {
    font-size: 1.8em;
    color: #0ef;
    text-align: center;
    margin-bottom: 10px;
  }

  .user .input-box {
    position: relative;
    margin: 20px 0;
  }

  .user input {
    height: 45px;
    background: transparent;
    border: 2px solid #2c4766;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 15px;
    transition: 0.5s ease;
  }

  .user input:focus {
    border-color: #0ef;
  }

  .user input[value]:not([value=""]) ~ label,
  .user input:focus ~ label {
    top: -10px;
    font-size: 0.8em;
    background: #1f293a;
    padding: 0 6px;
    color: #0ef;
  }

  .user label {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s ease;
    color: #fff;
  }

  .user .forgot-pass {
    margin: -10px 0 10px;
    text-align: center;
  }

  .user .forgot-pass a {
    font-size: 0.85em;
    color: #fff;
    text-decoration: none;
  }

  .user .btn {
          margin: 10px 15px 0 0;
    width: 100%;
    height: 45px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
  }

  .user .signup-link {
    margin: 10px 0;
    text-align: center;
  }

  .user .signup-link a {
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
  }

